* {
    background-color: #FFFAF1;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    color: #404E4D;
    font-size: 40px; 
}

p, li {
    color: #2E0E02;
}

/*For index page*/
.description-box {
   padding: 0 8px;
   border: 1px solid black; 
   background-color: #ffdadb;
}

.description-box > p {
    background-color: #ffdadb;
}

.description-box a {
    background-color: #ffdadb;
 }

.food-list {
    background-color: lightyellow;
}

.food-list ul li {
    display: inline-block;
    padding: 0 20px;
}

/*For sub-page*/
.sub-img {
    display: inline-block;
    float: left;
}

.sub-description-box {
    height: 350px;
    width: 60%;
    padding: 25px;
    display: inline-block;
}

.ingredients-box {
    width: 30%;
    float: left;
}

.step-box{
    width: 70%;
    float: right;
}